.coldBackground {
    background: linear-gradient(-45deg, #14446a, #334297, #5f87a5, #0f4054);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.warmBackground {
    background: linear-gradient(-45deg, #a96037, #a9460d, #c2c438, #a33267);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.background {
    background-image: url("/public/marek-piwnicki-AYueVudpWgo-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: static;
    background-size: cover;
    background-attachment: fixed;
}